@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Wanted Sans";
  src: url("/fonts/WantedSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/AlteHaasGroteskRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/AlteHaasGroteskBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
